@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tail wind drop-shadow does not work in Header.tsx use this instead */
.shadow-x {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
}

.observer {
    opacity: 0;
    transform: translateY(20px);
    transition: all 300ms ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('/images/background.webp');
    background-size: cover;
    background-attachment: fixed;
    background-color: #1e1f23;
}

/* Hide scroll bars on Chrome */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bars on Edge and FF */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scroll bars on FF */
html {
    scrollbar-width: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

/* Logo Icon */
.fill {
    fill: #c8c9cc;
    fill-opacity: 0;
    stroke-opacity: 0;
    stroke-width: 1;
    stroke: #c8c9cc;
}

.left,
.right,
.slash {
    opacity: 0;
    fill: #10ad98;
}

/* 
    Poppins 
*/
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: auto;
}

/* 
  Poppins Italic 
*/
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: auto;
}

/* 
  SF Mono 
*/
@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

/* 
  SF Mono Italic 
*/
@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: auto;
}
